@charset "utf-8";
/* 전체 css */
body{
    font-family: sans-serif;
    margin: 30px;
    background-color: #37353E;
}
.wrap{
    display: flex;
    width: 900px;
    height: 700px;
    margin: 100px auto;
    /* border: 1px solid #D3DAD9; */
    background-color: #37353E;
}
/* 좌측 메뉴 전체 css */
.wrap .order_menu{
    width: 700px;
    height: inherit;
    border: 1px solid #D3DAD9;
    border-radius: 10px;
    background-color: #715A5A;
}
/* 메뉴 상단 글자 css */
.wrap .order_menu h3, p{
    text-align: center;
    margin: 10px;
    font-size: 16px;
    color: #D3DAD9;
}
.wrap .order_menu h2{
    display: inline-block;
    margin: 10px 0px 5px 20px;
    border-radius: 10px;
    color: #D3DAD9;
    border: 1px solid white;
    padding: 10px;
}
/* 메뉴 사이즈 */
.wrap .order_menu .section1{
    width: 698px;
    height: 638px;
}
.wrap .order_menu .section1 .menubox{
    width: 698px;
    height: 608px;
}
.wrap .order_menu .section1 .menubox  ul.menu{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 698px;
    height: 600px;
    /* border: 1px solid red; */
}
/* 메뉴 li css */
.wrap .order_menu .section1 .menubox li{
    width: 140px;
    height: 160px;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 5px;
}
/* hot, ice 메뉴 구별 css */
.wrap .order_menu .section1 .menubox li .type1{
    display: block;
    color: blue;
    font-size: 13px;
    text-align: right;
    margin: 5px 10px 0 0;
    font-style: italic;
}
.wrap .order_menu .section1 .menubox li .type2{
    display: block;
    color: red;
    font-size: 13px;
    text-align: right;
    margin: 5px 10px 0 0;
    font-style: italic;
}
/* 이미지 css */
.wrap .order_menu .section1 .menubox li .img1 img{
    width: 70px;
    height: 70px;
    margin-left: 35px;
    border: 1px solid #D3DAD9;
    border-radius: 50%;
    padding: 10px;
    background-color: #44444E;
}
.wrap .order_menu .section1 .menubox li .img2 img{
    width: 70px;
    height: 70px;
    margin-left: 35px;
    border: 1px solid #D3DAD9;
    border-radius: 50%;
    padding: 10px;
    background-color: #44444E;
}
/* 메뉴이름, 가격 css */
.wrap .order_menu .section1 .menubox li .pro_name{
    display: block;
    margin-top: 8px;
    text-align: center;
    color: #D3DAD9;
}
.wrap .order_menu .section1 .menubox li .pro_price{
    display: block;
    margin-top: 8px;
    text-align: center;
    color: #D3DAD9;
}
/* 주문 내역 css */
.wrap .order{
    width: 200px;
    position: relative;
    border: 1px solid #D3DAD9;
    border-radius: 10px;
    background-color: #44444E;
    /* display: none; */
}
.wrap .order .order_list{
    text-align: right;
}
.wrap .order .order_list .section2 h2{
    margin: 10px 5px 0 0;
    color: #D3DAD9;
}
.wrap .order .order_result{
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 20px;
    margin-left: 40px;
}
.wrap .order .order_result h2{
    margin-bottom: 20px;
    color: #D3DAD9;
}
/* 하단 버튼 css */
.wrap .order .order_result button{
    padding: 10px;
    border-radius: 10px;
    background-color: #715A5A;
    color: #D3DAD9;
    border: 1px solid #715A5A;
}
.wrap .order .order_result button:hover{
    cursor: pointer;
    background-color: #37353E;
    border: 1px solid #D3DAD9;
}
.wrap .order .order_result .pay{
    display: inline-block;
    margin-top: 10px;
}
/* 주문 내역 안 리스트 css */
.wrap .order .order_list .orderbox li{
    margin-bottom: 10px;
}
.wrap .order .order_list .orderbox span.menu{
    font-size: 12px;
    margin-bottom: 20px;
    color: #D3DAD9;
}
.wrap .order .order_list .orderbox hr{
    color: #D3DAD9;
}
/* 주문 내역 안 버튼 css */
.wrap .order .order_list .orderbox button{
    margin: 5px 3px 0 0;
    font-size: 13px;
    background-color: #715A5A;
    color: #D3DAD9;
    border: 1px solid #715A5A;
    padding: 0 8px 0 8px;
}
.wrap .order .order_list .orderbox button:hover{
    background-color: #37353E;
    border: 1px solid #D3DAD9;
    cursor: pointer;
}